button {
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
strong {
  font-family: 'proxima_novabold';
}
.check {
  height: 10px;
}
.hidden {
  display: none !important;
}
.icon {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-left: 1rem;
}
.icon-white {
  background-color: white;
}
.icon img {
  width: 30px;
}

.icon-white img {
  width: 15px;
}
.external-link {
  margin-left: auto;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0077c5;
  padding: 0.5em 2rem;
}

.header__top .header__msf-logo {
  height: 25px;
  width: auto;
  margin-right: 1rem;
}
.header__location-wrapper {
  position: relative;
}

.header__change-location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #072661;
  border-radius: 3rem;
  height: 36px;
  padding: 0 3rem;
}

@media screen and (max-width: 567px) {
  .header__change-location {
    padding: 0 1rem;
  }
  .header__top .header__msf-logo {
    margin-right: 0.5rem;
  }
  .header__top {
    padding: 0.5em 1rem;
  }
  .header__top .header__msf-logo {
    height: 20px;
  }
}

.header__world-icon {
  height: 14px;
  width: auto;
}
.header__change-text {
  color: white;
  margin-left: 1rem;
  font-family: 'proxima_novaregular';
  font-size: 14px;
}

.header__dropdown {
  border-radius: 10px;
  background-color: white;
  position: absolute;
  box-shadow: 0px 3px 6px #00000029;
  margin: 0.5rem 0 0 0;
  width: 100%;
  z-index:2;
}
.header__dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__dropdown ul li a,
.header__dropdown ul li a:visited {
  text-decoration: none;
  color: #072661;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'proxima_novaregular';
  padding: 1rem;
  border-bottom: 1px solid #b9b9b9;
  font-size: 14px;
}
.header__dropdown ul li:last-child a,
.header__dropdown ul li:last-child a:visited {
  border: none;
}

.header__bottom {
  background-color: #072661;
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 2rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header__bottom {
    padding: 1rem;
  }
}

.bottom__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .bottom__wrapper {
    display: none;
  }
}
.logo__wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-right: 3rem;
}
.bottom__logo {
  width: 600px;
  max-width: 90%;
}

.bottom__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bottom__top a,
.bottom_top a:visited {
  color: white;
  text-decoration: none;
  font-family: 'proxima_novaregular';
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-left: 1rem;
}
.bottom__white-wrapper {
  display: flex;
  width: auto;
  margin-left: auto;
}
.bottom__white {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.white__left {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
.white__left {
  border-right: 1px solid #b9b9b9;
}
.white__right a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.white__left p,
.white__right p {
  font-family: 'proxima_novabold';
  color: #072661;
  margin-right: 1rem;
}

.white__left img,
.white__right img {
  width: 30px;
  margin: 0 0.5rem;
}

.header__menu-button,
.header__mobile-menu {
  display: none;
}
.header__mobile-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100%);
  background-color: #072661;
  border-top: 1px solid #ffffff;

}
.header__mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__mobile-menu ul li {
  border-bottom: 1px solid #ffffff43;
  padding: 1rem;
}
.header__mobile-menu ul li a,
.header__mobile-menu ul li a:visited {
  color: white;
  font-family: proxima_novaregular;
  font-size: 22px;
  padding: 0.25rem 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header__mobile-menu ul li a img {
  width: 30px;
  margin-right: 1rem;
}
.header__mobile-menu ul li a .icon img {
  margin-right: 0;
  width: 15px;
}

.header__mobile-menu ul li a .icon {
  margin-left: 0;
  margin-right: 1rem;
}
@media screen and (max-width: 767px) {
  .header__menu-button {
    display: block;
    margin-left: auto;
  }

  .header__mobile-menu {
    display: block;
  }
}
